/* 全局样式 */
body {
    font-family: 'ZCOOLKuaiLe', sans-serif;
    background-color: #fff5fc;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* 容器样式 */
.container {
    display: flex;
    width: 100%;
}

/* 侧边栏样式 */
.sidebar {
    width: 250px;
    padding: 20px;
    background-color: #ffe1f0;
    border-right: 2px solid #ff69b4;
}

.sidebar h2 {
    text-align: center;
    font-size: 1.5rem;
}

.sidebar .year-list,
.sidebar .month-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar button {
    padding: 10px;
    background-color: #ff69b4;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    text-align: center;
}

.sidebar button:hover {
    background-color: #ff85c4;
}

/* 主内容区样式 */
.recipe-list {
    flex-grow: 1;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

/* 单个食谱项样式 */
.recipe-item {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.recipe-photo {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 10px 0;
}

.recipe-item h3 {
    font-size: 1.8rem;
    color: #ff69b4;
    margin-bottom: 10px;
}

.recipe-item p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
}

.recipe-item ul {
    list-style-type: none;
    padding: 0;
}

.recipe-item li {
    font-size: 1rem;
    color: #333;
}
